@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        SchoolBookDBEntities db = new SchoolBookDBEntities();
        var user = db.AspNetUsers.Single(u => u.UserName == User.Identity.Name);
        string name = user.FullName;
        <nav class=" navbar navbar-expand-md bg-dark navbar-dark">
            <a class=" navbar-brand" href=@Url.Action("Index","Home")>
                School Book <i class=" fa fa-institution"></i>
            </a>
            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenavbar">
                <span class=" navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="collapsiblenavbar">
                <ul class=" navbar-nav mr-auto">
                    <li class=" nav-item">
                        <a class=" nav-link" href=@Url.Action("Index","Home")>
                            Home
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class=" nav-link" href=@Url.Action("Schools","Home")>
                            Schools
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Dashboard","Admin")>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Add","Admin")>
                            Add Schools
                        </a>
                    </li>
                </ul>
                <ul class=" navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index","Manage")>
                            Hello @name!
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
}
else if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        SchoolBookDBEntities db = new SchoolBookDBEntities();
        var user = db.AspNetUsers.Single(u => u.UserName == User.Identity.Name);
        string name = user.FullName;
        <nav class=" navbar navbar-expand-md bg-dark navbar-dark">
            <a class=" navbar-brand" href=@Url.Action("Index","Home")>
                School Book <i class=" fa fa-institution"></i>
            </a>
            <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenavbar">
                <span class=" navbar-toggler-icon"></span>
            </button>

            <div class=" collapse navbar-collapse" id="collapsiblenavbar">
                <ul class=" navbar-nav mr-auto">
                    <li class=" nav-item">
                        <a class=" nav-link" href=@Url.Action("Index","Home")>
                            Home
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class=" nav-link" href=@Url.Action("Schools","Home")>
                            Schools
                        </a>
                    </li>
                </ul>
                <ul class=" navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href=@Url.Action("Index","Manage")>
                            Hello @name!
                        </a>
                    </li>
                    <li class=" nav-item">
                        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    </li>
                </ul>
            </div>
        </nav>
    }
}
else
{
    <nav class=" navbar navbar-expand-md bg-dark navbar-dark">
        <a class=" navbar-brand" href=@Url.Action("Index","Home")>
            School Book <i class=" fa fa-institution"></i>
        </a>
        <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsiblenavbar">
            <span class=" navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="collapsiblenavbar">
            <ul class=" navbar-nav mr-auto">
                <li class=" nav-item">
                    <a class=" nav-link" href=@Url.Action("Index","Home")>
                        Home
                    </a>
                </li>
                <li class=" nav-item">
                    <a class=" nav-link" href=@Url.Action("Schools","Home")>
                        Schools
                    </a>
                </li>
            </ul>
            <ul class=" navbar-nav">
                <li class=" nav-item">
                    <a class=" nav-link" href=@Url.Action("Login","Account")>
                        Login <i class="fa fa-sign-in"></i>
                    </a>
                </li>
                <li class=" nav-item">
                    <a class=" nav-link" href=@Url.Action("Register","Account")>
                        Register <i class="fa fa-user-plus"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
} 